<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" role="nav" href="">MiniPyWeb</a>
        </div>
        {{#if user}}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a role="nav" href="users">Utilisateurs</a></li>
            <li><a role="nav" href="logout">Déconnexion {{user}}</a></li>
          </ul>
        </div>
        {{/if}}
    </div>
</nav>

